.menu-button {
    -fx-font-family: 'Consolas';
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: Bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0.3, 1, 1);
    -fx-background-color: linear-gradient(to bottom, #c6cecf, #a9b0b0);
    -fx-cursor: hand;
}

.menu-button:pressed {
    -fx-font-family: 'Consolas';
    -fx-font-size: 14px;
    -fx-text-fill: gray;
    -fx-font-weight: Bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0.1, 0.7, 0.7);
    -fx-background-color: linear-gradient(to bottom, #b5bdbe, #98a9a9);
}

.menu-button:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #b5bdbe, #98a9a9);
}